.navbar{
  background-color: rgb(104, 213, 104);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a{
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
  text-decoration: none;
  font-family:'Arial Narrow Bold', sans-serif;

}